.footer {
    bottom: 0;
    width: 100%;
     background: white !important;
    box-shadow: 0px 0px 3px black;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #77a6f7;

}
