.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar {
    color: white !important;
    background: #3f51b5 !important;
}

.mat-icon-button{
  position: absolute !important;
  left: 0 !important;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}
.out-logo {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    &__imagem {
        // width: 100%;
        padding: 5px;
        height: 100%;
        position: absolute;
        top: 0;
        // right: 0;
    }
}
