<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/adocao">Adoção</a>
      <a mat-list-item routerLink="/doacao">Doação</a>
      <a mat-list-item href="#">Parceiros</a>
      <a mat-list-item routerLink="/servicos">Serviços</a>
      <a mat-list-item href="#">Atendimento</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="out-logo">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="logo">
        <a routerLink="/home"><img class="logo__imagem" src="../../assets/imagens/logo.png"></a>
      </div>
      <div class="menu-desktop">
        <a routerLink="/home"><img class="logo__imagem" src="../../assets/imagens/logo.png"></a>
        <a routerLink="/adocao">Adoção</a>
        <a routerLink="/doacao">Doação</a>
        <a href="#">Parceiros</a>
        <a routerLink="/servicos">Serviços</a>
        <a href="#">Atendimento</a>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
