.mat-card-title,
.mat-icon {
    color: #325829;
}

@media (min-width: 800px)
{
   .mat-card
   {
    width: 50%;
    margin: auto;
    margin-top: 60px;  
   }
 }
  
  #btnCadastrarAssociado
  {
      float: right;
      margin-right: 2%;
  }
 