@import "bootstrapGrip.scss";
@import "vars.scss";

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    }

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-raised-button {
    background-color: $color-green;
    color: $color-white;
}

.mat-card-title,
.mat-icon {
    color: #3f51b5;
}
