<mat-toolbar class="row">
  <div class="col col-md-10">
    <mat-icon aria-hidden="false" aria-label="account_circle icon">pets </mat-icon>&nbsp;Atendimentos
  </div>
  <div class="col col-md-2">
    <button class="btn-gerarRelatorio" mat-raised-button (click)="gerarRelatorio()" type="submit">Gerar
      Relatório</button>
  </div>
</mat-toolbar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Data do Atendimento Column -->
  <ng-container matColumnDef="dataAtendimento">
    <th mat-header-cell *matHeaderCellDef> Data do Atendimento </th>
    <td mat-cell *matCellDef="let element" type="date">{{element.dataAtendimento}}</td>
  </ng-container>

  <!-- Tipo de Atendiment Column -->
  <ng-container matColumnDef="tipoAtendimento">
    <th mat-header-cell *matHeaderCellDef> Tipo de Atendimento </th>
    <td mat-cell *matCellDef="let element"> {{element.tipoAtendimento}} </td>
  </ng-container>

  <!-- Animal Column -->
  <ng-container matColumnDef="raca">
    <th mat-header-cell *matHeaderCellDef> Animal Atendido </th>
    <td mat-cell *matCellDef="let element"> {{element.raca}} </td>
  </ng-container>

  <!-- Descrição Column -->
  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef> Descrição </th>
    <td mat-cell *matCellDef="let element">{{element.descricao}}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>