<div class="container paginaParceiros">
  <div class="row parceiros">
    <h1>NOSSOS PARCEIROS</h1>
    <div class="col-md-2" *ngFor="let p of parceiros">

      <div class="parceiros-card">
        <div class="parceirosCardBall">
          <div id="iconPet">
            <mat-icon aria-hidden="false" aria-label="account_circle icon">pets</mat-icon>
          </div>
        </div>
        <div class="label">
          <label id="nomeParceiro">{{p.nome}}</label>
        </div>
      </div>

    </div>
  </div>
</div>
