.parceiros {
    padding-top: 50px;
    text-align: center;
}

.parceirosCard
 {

        background-color: transparent;
        box-shadow: none;
        display: flex;
        justify-content: center;
        text-align: center;
        
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            float: left;
            margin: 15px;
            margin-left: 25%;        
            transition: 0.3s ease;
            background: #1dd1a1;
            color: white;
            font-size: 25px;
            font-family: "Varela Round", sans-serif;
            margin-top: 50%;   
}

#nomeParceiro {
    color: #1dd1a1;
    font-size: 15px;
    font-family: "Varela Round", sans-serif;
}

#iconPet 
{
    margin-top: 25%;
    font-size: 100%;  
}

#iconPet:hover {
transform: rotateY(180deg);
color: yellow;
}