<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="isAssociadoPermitionLevel()" routerLink="/adocao">Adoção</a>
      <a mat-list-item *ngIf="isAssociadoPermitionLevel()" routerLink="/parceiroTabs">Parceiros</a>
      <a mat-list-item *ngIf="isAssociadoPermitionLevel()" routerLink="/servicos">Serviços</a>
      <a mat-list-item *ngIf="isAdminPermissionLevel()" routerLink="/animalTabs">Animais</a>
      <a mat-list-item *ngIf="isAdminPermissionLevelOnly()" routerLink="/cadastro-funcionario">Cadastro Funcionário</a>
      <a mat-list-item *ngIf="isAdminPermissionLevel()" routerLink="/cadastro-parceiro">Cadastro Parceiros</a>
      <a mat-list-item *ngIf="isAdminPermissionLevel()" routerLink="/servicos">Serviços</a>
      <a mat-list-item *ngIf="isAssociadoPermitionLevel()" routerLink="/doacao">Doação</a>
      <a mat-list-item *ngIf="isAdminPermissionLevel()" routerLink="/cadastro-atendimento">Cadastro Atendimento</a>
      <a mat-list-item (click)="logout()" class="area-restrita">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="out-logo">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="logo">
        <a class="logo_link" routerLink="/home"><img class="logo__imagem" src="../../assets/imagens/logo.png"></a>
      </div>
      <div class="menu-desktop">
        <a routerLink="/home"><img class="logo__imagem" src="../../assets/imagens/logo.png"></a>
        <a *ngIf="isAssociadoPermitionLevel()" routerLink="/adocao">Adoção</a>
        <a *ngIf="isAssociadoPermitionLevel()" routerLink="/parceiros">Parceiros</a>
        <a *ngIf="isAssociadoPermitionLevel()" routerLink="/servicos">Serviços</a>
        <a *ngIf="isAdminPermissionLevel()" routerLink="/animalTabs">Animais</a>
        <a *ngIf="isAdminPermissionLevelOnly()" routerLink="/cadastro-funcionario">Cadastro Funcionário</a>
        <a *ngIf="isAdminPermissionLevel()" routerLink="/parceiroTabs">Parceiros</a>
        <a *ngIf="isAdminPermissionLevel()" routerLink="/servicos">Serviços</a>
        <a *ngIf="isAssociadoPermitionLevel()" routerLink="/doacao">Doação</a>
        <a *ngIf="isAdminPermissionLevel()" routerLink="/cadastro-atendimento">Cadastro Atendimento</a>
        <a (click)="logout()" class="area-restrita">Logout</a>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>