.home-servicos {
  h1{
    text-align: center;
  }
    &__servicos {
    font-size: 20px;
    line-height: 38px;
      text-align: justify !important;
      &__disponiveis{
        margin-top: 15px;
        text-align: center;
      }
    }

    &__telefone { 
       margin-top: 20px;
      background-color: lightblue;
      font-size: 22px;
      text-align: center;
      padding: 10px;
      }
}


.acoes 
{
  margin-top: 10px;
}
.acoes h4
{
  color: #325829;
}