.home-servicos {
  h1{
    text-align: center;
  }
    &__servicos {
    font-size: 20px;
    line-height: 38px;
      text-align: justify !important;
      &__disponiveis{
        text-align: center;
      }
    }
}
