<div class="container home-servicos">
  <h1>SERVIÇOS</h1>
  <div class="row home-servicos__servicos">
    <p>Em 25 anos de atuação, os projetos, eventos e outras ações da ARCA BRASIL – Associação Humanitária de Proteção e
      Bem-Estar Animal, entidade não governamental sem fins lucrativos, independente e apartidária, inauguraram uma nova
      era de esperança e respeito aos direitos dos animais no país.

      Seu programa “Controle Ético das Populações de Cães e Gatos”, reconhecido pela Organização Pan-Americana da Saúde
      (OPAS), é modelo para todo o país – incluindo a cidade de São Paulo –, salvando centenas de milhares de vidas.</p>

    <span>>>> RESUMO DE AÇÕES E PROJETOS</span>

    <span>>>> HISTÓRICO ARCA BRASIL</span>

    <span> Conheça mais algumas das ações realizadas pela Arca Brasil:</span>

    <h4>Pelo FIM das Celas de Gestação</h4>
    <p>Em 2012, a ARCA deu início, de forma inédita na América Latina, a uma campanha para eliminar as cruéis celas de
      gestação na cadeia produtiva do McDonald’s.</p>

    <h4>Identificação</h4>
    <p>Identificar o cão ou o gato é uma atitude fundamental do guardião responsável.</p>

    <h4>Controle Populacional</h4>
    <p>A superpopulação de cães e gatos é um problema que afeta a maioria dos países, em maior ou menor grau. A equação
      é
      simples: existem mais animais do que lares para eles.</p>

    <h4>Guarda Responsável</h4>
    <p>Conviver com um bicho de estimação é um privilégio e pode mudar nossa vida para muito melhor. No entanto, alguns
      cuidados devem ser observados para que essa relação seja realmente harmoniosa e feliz.</p>

    <h4>Fundo de Emergência</h4>
    <p>Solidariedade e trabalho em equipe fazem a diferença em momentos de crise. A ARCA Brasil criou este fundo para
      agilizar atendimentos de emergência, em especial às vítimas das enchentes em chuvas de final de ano.</p>

    <h4>Adotar é Tudo de Bom</h4>
    <p>Com o objetivo de incentivar a adoção responsável de cães, a ARCA Brasil e a PEDIGREE® lançaram em 2007 o projeto
      Adotar é tudo de bom®. O projeto sofreu alterações em sua concepção original e continua sendo desenvolvido pela
      PEDIGREE®.</p>

      <h4  class="home-servicos__servicos__disponiveis">SERVIÇOS DISPONÍVEIS</h4>
      <p>Castração a baixo custo</p>
      <p>Recolhimento de animais em situação de maus-tratos</p>
      <p>Hotel para animais</p>
      <p></p>

  </div>


  <div class="row home-servicos__telefone">
    <div class="col-12">
      PARA MAIS INFORMAÇÕES LIGUE: 4002-8922
    </div>
  </div>
</div>
