.home {
    h4 {
        text-align: center;
        font-size: 24px;
        padding-bottom: 15px;
        color: #325829;
    }
    .swipe {
        overflow: hidden;
        visibility: hidden;
        position: relative;
    }
    .swipe-wrap {
        overflow: hidden;
        position: relative;
    }
    .swipe-wrap > div {
        float: left;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    &__parceiros {
        padding-top: 50px;
        text-align: center;
        &__item {
            background-color: transparent;
            box-shadow: none;
            display: flex;
            justify-content: center;
            text-align: center;
            div {
                // width: 80%;
                // border-top-left-radius: 100%;
                // border-top-right-radius: 100%;
                // border-bottom-left-radius: 100%;
                // border-bottom-right-radius: 100%;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                overflow: hidden;
                float: left;
                margin: 15px;
                transition: 0.3s ease;
                background: #1dd1a1;
                color: white;
                font-size: 25px;
                font-family: "Varela Round", sans-serif;
                margin-top: 50%;

                .mat-icon {
                    margin-top: 25%;
                    font-size: 400%;
                    margin-right: 40%;
                }
            }
            div:hover {
                transform: rotateY(180deg);
                .mat-icon {
                    color: yellow;
                }
            }
        }
        label {
            color: #1dd1a1;
            font-size: 25px;
            font-family: "Varela Round", sans-serif;
        }
    }
    &__banner {
        padding-top: 50px;
        padding-bottom: 50px;
        img {
            width: 100%;
            border-radius: 0;
        }
    }

    &__noticia {
        height: 350px;
        a,
        p {
            text-decoration: none;
        }
        p {
            font-size: 12px;
        }
        &__titulo {
            line-height: 20px;
            font-size: 14px;
        }
    }
}
