<div class="container home">

  <div class="row home__banner">
    <div class="col-12">
      <a routerLink='/adocao'><img src="../../assets/imagens/banner-principal.jpg"></a>
      <!-- <mat-card class=" home__parceiros__item">
            <img mat-card-image src="../../assets/imagens/banner-doacao.PNG">
          </mat-card> -->
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h4>ANIMAIS PARA ADOÇÃO</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="padding: 15px">
      <mat-card>
        <mat-card-title> NOTÍCIA1 </mat-card-title>
        <img mat-card-image src="../../assets/imagens/noticia1.jpg">

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>

      </mat-card>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="padding: 15px">
      <mat-card>
        <mat-card-title> NOTÍCIA1 </mat-card-title>
        <img mat-card-image src="../../assets/imagens/noticia1.jpg">

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>

      </mat-card>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="padding: 15px">
      <mat-card>
        <mat-card-title> NOTÍCIA1 </mat-card-title>
        <img mat-card-image src="../../assets/imagens/noticia1.jpg">

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>

      </mat-card>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="padding: 15px">
      <mat-card>
        <mat-card-title>ANIMAL 1</mat-card-title>
        <img mat-card-image src="../../assets/imagens/noticia1.jpg">

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row home__banner">
    <div class="col-12">
      <a routerLink='/doacao'><img src="../../assets/imagens/banner-doacao.PNG"></a>
      <!-- <mat-card class=" home__parceiros__item">
          <img mat-card-image src="../../assets/imagens/banner-doacao.PNG">
        </mat-card> -->
    </div>
  </div>
  <div class="row home__parceiros">
    <h4>NOSSOS PARCEIROS</h4>  
    <div class="col-lg-3" *ngFor="let p of parceiros.slice(0, 4);">
      <mat-card class=" home__parceiros__item">
        <div>
          <mat-icon aria-hidden="false" aria-label="account_circle icon">pets</mat-icon>
        </div>
      </mat-card>
      <label> &nbsp;{{p.nome}}</label>
    </div>
  </div>
</div>