<!-- <app-main-nav> -->
<app-menu-interno>
  <!-- INSRIR CONTEÚDO AQUI -->

  <!-- <div align="center"> -->
  <!-- <app-cadastro-funcionario></app-cadastro-funcionario> -->
  <!-- <app-cadastro-associado></app-cadastro-associado> -->
  <!-- <app-login></app-login>    -->
  <!-- <app-cadastro-animal></app-cadastro-animal> -->
  <!-- <app-cadastro-parceiro></app-cadastro-parceiro> -->
  <!-- <app-animais-interna></app-animais-interna> -->
    <app-funcionarios-interna></app-funcionarios-interna>
  <!-- <app-doacao></app-doacao> -->
  <!-- <app-home></app-home> -->
  <!-- <app-home-adocao></app-home-adocao> -->
  <!-- <app-home-servicos></app-home-servicos> -->
  <!-- </div> -->
  <!-- <app-cadastro-atendimento></app-cadastro-atendimento> -->
  <router-outlet></router-outlet>
  <!-- <app-testeapi></app-testeapi> -->
</app-menu-interno>
<!-- </app-main-nav> -->

<app-footer></app-footer>
