.mat-card-title,
.mat-icon {
  color: #325829;
}

@media (min-width: 800px) {
  .mat-card {
    width: 50%;
    margin: auto;
    margin-top: 60px;
  }
}

label {
  color: #325829;
}

#btnCadastrarAnimal {
  margin-right: 2%;
}

#animalDispAdoacao,
#animalMorreu {
  text-align: left;
  margin-left: 1%;
}

textarea.mat-input-element {
  resize: none;
}

.margin-top {
    margin-top: 10px;
}
