<div class="cadastroAnimal">
    <mat-card class="card-cadastroAnimal">
        <mat-card-title>
            <label>
                <mat-icon aria-hidden="false" aria-label="account_circle icon">pets</mat-icon>&nbsp;Novo Animal
            </label>
        </mat-card-title>
        <hr>
        <mat-card-content>
            <form [formGroup]="animalForm">
                <div class="row">

                    <div class="col col-md-3">
                        <mat-form-field>
                            <mat-label>Animal</mat-label>
                            <mat-select required formControlName="especie">
                                <mat-option value="cachorro">Cachorro</mat-option>
                                <mat-option value="gato">Gato</mat-option>
                            </mat-select>
                            <mat-error *ngIf="get('especie').errors?.required">Campo Obrigatório</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col col-md-3">
                        <mat-form-field>
                            <mat-label>Raça</mat-label>
                            <mat-select required formControlName="raca">
                                <mat-option value="srd">SRD</mat-option>
                            </mat-select>
                            <mat-error *ngIf="get('raca').errors?.required">Campo Obrigatório</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col col-md-6">
                        <mat-form-field>
                            <input required matInput placeholder="Nome do Animal" formControlName="nome" type="text">
                            <mat-error *ngIf="get('nome').errors?.required">Campo Obrigatório</mat-error>
                        </mat-form-field>
                    </div>

                </div>
                <div class="row margin-top">

                    <div class="col col-md-3">
                        <mat-form-field>
                            <mat-label>Idade</mat-label>
                            <input required matInput placeholder="Idade do Animal" formControlName="idade" type="number"
                                mask="00">
                            <mat-error *ngIf="get('idade').errors?.required">Campo Obrigatório</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col col-md-3">
                        <mat-form-field>
                            <mat-label>Meses/Anos</mat-label>
                            <mat-select required formControlName="medicaoidade">
                                <mat-option value="0">Meses</mat-option>
                                <mat-option value="1">Anos</mat-option>
                            </mat-select>
                            <mat-error *ngIf="get('medicaoidade').errors?.required">Campo Obrigatório</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Estado do Animal</mat-label>
                            <textarea required matInput rows="5" formControlName="descricao"></textarea>
                            <mat-error *ngIf="get('descricao').errors?.required">Campo Obrigatório</mat-error>
                        </mat-form-field>
                    </div>

                </div>

                <div class="row margin-top" id="animalDispAdoacao">
                    <mat-checkbox formControlName="isdisponivelparaadocao"> Disponível para adoção
                    </mat-checkbox>
                </div>

                <div class="row" id="animalMorreu">
                    <mat-checkbox formControlName="ismorto"> Morreu </mat-checkbox>
                </div>

                <div class="row align-right">
                    <button mat-raised-button id="btnCadastrarAnimal" (click)="cadastrar()"
                        type="submit">Cadastrar</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>