
@media (min-width: 800px)
{
   .card-cadastroAnimal
   {
       width: 50%;
     
   }
 }
 
 #btnCadastrarAnimal
 {
     float: right;
     margin-right: 2%;
 }

 #animalDispAdoacao, #animalMorreu
 {
    text-align: left;
    margin-left: 1%;
 }
