<div class="cadastroAnimal">
    <mat-card class="card-cadastroAnimal">
        <mat-icon aria-hidden="false" aria-label="account_circle icon">pets</mat-icon>
        <mat-card-title>
            <label>Novo Animal</label>
        </mat-card-title>
        <hr>
        <mat-card-content>
            <form [formGroup]="animalForm">
                <div class="row">
                    <mat-form-field class="col col-md-3">
                        <mat-label>Animal</mat-label>
                        <select matNativeControl required formControlName="especie">
                            <option value="cachorro">Cachorro</option>
                            <option value="gato">Gato</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field class="col col-md-3">
                        <mat-label>Raça</mat-label>
                        <select matNativeControl required formControlName="raca">
                            <option value="srd">SRD</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field class="col col-md-6">
                        <input matInput placeholder="Nome do Animal" formControlName="nome" type="text">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col col-md-2">
                        <mat-label>Idade</mat-label>
                        <input matInput placeholder="Idade do Animal" formControlName="idade" type="text" mask="00">
                    </mat-form-field>
                    <mat-form-field class="col col-md-4">
                        <mat-label>Meses/Anos</mat-label>
                        <select matNativeControl formControlName="medicaoidade">
                            <option value="M">Meses</option>
                            <option value="A">Anos</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field class="col col-md-6">
                        <mat-label>Estado do Animal</mat-label>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5" formControlName="descricao"></textarea>
                    </mat-form-field>
                </div>
                <div class="row" id="animalDispAdoacao">
                    <input type="checkbox" formControlName="isdisponivelparaadocao"> Disponível para adoção
                </div>
                <div class="row" id="animalMorreu">
                    <input type="checkbox" formControlName="ismorto"> Morreu
                </div>
                <div class="row">
                    <button mat-raised-button id="btnCadastrarAnimal" (click)="cadastrar()" type="submit">Cadastrar</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>