<div class="container home-adocao">
  <h1>ADOÇÃO DE ANIMAIS</h1>
  <div class="row home-adocao__animais">
    <div class="col-lg-3 col-md-3 col-sm-12 home-adocao__card__animais col-xs-12" style="padding: 15px" *ngFor="let a of animais">
      <mat-card>
        <mat-card-title class="home-adocao__card__animais__nome"> {{a.nome}} </mat-card-title>
        <img mat-card-image class="imgsource" [src]="a.img">
        <mat-card-content *matCellDef="let element">
          <p>{{a.descricao}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row home-adocao__telefone">
    <div class="col-12">
      para adotar ligue: 4002-8922
    </div>
  </div>
</div>