.home-adocao {
    h1 {
        text-align: center;
    }
    &__card {
        width: 150px;
        height: 150px;
        img{
            width: 100%;
            height: 100%;
            object-fit: center;
            object-position: center;
            
        }
     &__animais {
         padding-top: 15px;
         padding-bottom: 15px;
         &__none {
                text-align: center;
            }
        }
    }
    &__telefone {
        border: 1px solid gray;
        margin-bottom: 25px;
        text-transform: uppercase;
        padding-top: 15px;
        padding-bottom: 15px;
        color: white;
        background-color: #77a6f7;
        font-size: 20px;
        letter-spacing: 1px;
    }
}
