<div class="container home-adocao">
  <h1>ADOÇÃO DE ANIMAIS</h1>
  <div class="row">
    <mat-form-field class="col col-md-3">
      <mat-label>Animal</mat-label>
      <select matNativeControl required>
        <option value="cachorro">Cachorro</option>
        <option value="gato">Gato</option>
      </select>
    </mat-form-field>
  </div>
  <div class="row home-adocao__animais">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="padding: 15px">
      <mat-card>
        <mat-card-title class="home-adocao__animais__nome" *matCellDef="let element"> {{element.nome}} </mat-card-title>
        <img mat-card-image src="../../assets/imagens/noticia1.jpg">

        <mat-card-content>
          <p *matCellDef="let element"> {{element.descricao}}
          </p>
        </mat-card-content>

      </mat-card>

    </div>
  </div>

  <div class="row home-adocao__telefone">
    <div class="col-12">
      para adotar ligue: 4002-8922
    </div>
  </div>
</div>
