
* {
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Helvetica", sans-serif;
    color: #333333;
  }
  
.cardAnimais
  {
    margin-top: 20px;
    text-align: center;
    align-items: center;
  }
.animais
  {
    width:200px;
    height:200px;
    float:left;
    display: initial;
    margin: auto;
    z-index: 6;
    overflow: hidden;
    border-radius: 3%; 
}

.animais img{
    width: 100%;
    height: 100%;
    margin: auto;
}

.nomeAnimal
{
    width: 100%;
    height: 100%;
    margin-left: -10%;
}

  #paraAdotar
  {
      margin-top: 20px;
      background-color: lightblue;
      font-size: 22px;
      text-align: center;
      padding: 10px;
  }