<div class="cadastroFuncionario">
    <mat-card class="card-cadastroFuncionario">
        <mat-icon aria-hidden="false" aria-label="account_circle icon">account_circle</mat-icon>
        <mat-card-title>
            <label>Novo Funcionario</label>
        </mat-card-title>
        <hr>
        <mat-card-content>
            <div class="row">
                <mat-form-field class="col col-md-9">
                    <input matInput placeholder="Nome Completo" formControlName="nomeFuncionario" type="text">
                </mat-form-field>
                <mat-form-field class="col col-md-3">
                    <input matInput placeholder="Data de Nascimento" formControlName="dataNascFuncionario" type="text"
                        mask="00/00/0000">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col col-md-6">
                    <input matInput placeholder="CPF" formControlName="cpfFuncionario" type="text"
                        mask="000.000.000-00">
                </mat-form-field>
                <mat-form-field class="col col-md-6">
                    <input matInput placeholder="Email" formControlName="emailFuncionario" type="text"
                        mask="00/00/0000">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col col-md-6">
                    <mat-label>Setor</mat-label>
                    <select matNativeControl required>
                        <option value="financeiro">Financeiro</option>
                        <option value="administrativo">Administrativo</option>
                        <option value="recepcao">Recepção</option>
                    </select>
                </mat-form-field>
                <mat-form-field class="col col-md-6">
                    <input matInput placeholder="Salário" formControlName="salarioFuncionario" type="text">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col col-md-6">
                    <input matInput placeholder="Senha" formControlName="senhaFuncionario" type="password">
                </mat-form-field>
                <mat-form-field class="col col-md-6">
                    <input matInput placeholder="Confirmação da Senha" formControlName="confSenhaFuncionario"
                        type="password">
                </mat-form-field>
            </div>
            <div class="row" id="funcinarioAdm">
                <input type="checkbox"> Usuário Administrador
            </div>
            <div class="row">
                <button mat-raised-button id="btnCadastrarFuncionario">Cadastrar</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>