<div class="cadastroFuncionario">
  <mat-card class="card-cadastroFuncionario">
    <mat-icon aria-hidden="false" aria-label="account_circle icon">account_circle</mat-icon>
    <mat-card-title>
      <label>Novo Funcionario</label>
    </mat-card-title>
    <hr>
    <mat-card-content>
      <form [formGroup]="funcionarioForm">
        <div class="row">
          <mat-form-field class="col col-md-9">
            <input matInput placeholder="Nome Completo" formControlName="nome" type="text">
          </mat-form-field>
          <mat-form-field class="col col-md-3">
            <input matInput placeholder="Data de Nascimento" formControlName="dataNascimento" type="text"
              mask="00/00/0000">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col col-md-6">
            <input matInput placeholder="CPF" formControlName="cpf" type="text" mask="000.000.000-00">
          </mat-form-field>
          <mat-form-field class="col col-md-6">
            <input matInput placeholder="Email" formControlName="emailFuncionario" type="text">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col col-md-6">
            <mat-label>Setor</mat-label>
            <select matNativeControl formControlName="setor">
              <option value="0">Financeiro</option>
              <option value="1">Administrativo</option>
              <option value="2">Recepção</option>
            </select>
          </mat-form-field>
          <mat-form-field class="col col-md-6">
            <input matInput placeholder="Salário" formControlName="salario" type="number">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col col-md-6">
            <input matInput placeholder="Senha" formControlName="senha" type="password">
          </mat-form-field>
          <mat-form-field class="col col-md-6">
            <input matInput placeholder="Confirmação da Senha" formControlName="confirmarSenha" type="password">
          </mat-form-field>
        </div>
        <div class="row" id="funcinarioAdm">
          <input type="checkbox" formControlName="isAdministrador"> Usuário Administrador
        </div>
        <div class="row">
          <button mat-raised-button (click)="cadastrar()" type="submit">Cadastrar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
