@media (min-width: 800px) {
    .card-cadastroFuncionario {
        width: 50%;
        margin: auto;
    }
}

#btnCadastrarFuncionario {
    float: right;
    margin-right: 2%;
}

#funcinarioAdm {
    float: left;
    margin-left: 1%;
}
