@media (min-width: 800px) {
    .card-cadastroFuncionario {
        width: 50%;
        margin: auto;
        margin-top: 60px;
    }
}

.btn-cadastro {
    float: right;
}

label {
    color: #325829;
}