.mat-card-title,
.mat-icon {
    color: #325829;
}

@media (min-width: 800px)
{
   .mat-card
   {
    width: 50%;
    margin: auto;
    margin-top: 60px;  
   }
 }
 .cadastro-atendimento {
    h1 {
        text-align: center;
    }
    .col-sm-12.col-xs-12 {
        display: flex;
        justify-content: center;
    }
    &__descricao{
      width: 100%;
      height: 200px;
      background: red;
    }
    &__btnCadastrarAtendimento{
      float: right;
      margin-right: 15px;
    }
}
