.cadastro-atendimento {
    h1 {
        text-align: center;
    }
    .col-sm-12.col-xs-12 {
        display: flex;
        justify-content: center;
    }
    &__descricao{
      width: 100%;
      height: 200px;
      background: red;
    }
    &__btnCadastrarAtendimento{
      float: right;
    }
}
